/* app css stylesheet */

ul.navbar.navbar-nav.navbar-right li a:link, a:visited {
    text-decoration: none;
}

ul.navbar.navbar-nav.navbar-right li {
    padding: 10px;
}

/*Selector for a scope that is attached to an object with a class of .show-scope-demo,
Selector for a scope that is a descendant of a class of .show-scope-demo*/
.show-scope-demo.ng-scope, .show-scope-demo .ng-scope {
    border: solid red 1px;
    margin: 3px;
}
#formCapture{
    display: none;
}